# render.yaml

services:
  - type: web
    name: yt-api
    runtime: python
    plan: free
    
    buildCommand: "pip install -r requirements.txt"
    
    startCommand: "uvicorn main:app --host 0.0.0.0 --port $PORT"
    
    envVars:
      - key: PYTHON_VERSION
        # Değeri 3.11'den 3.11.9'a güncelleyin
        value: 3.11.9 
      - key: YOUTUBE_COOKIES
        sync: false
