services:
  - type: web
    name: mp3-api
    runtime: python
    repo: .
    buildCommand: bash build.sh
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: YT_COOKIES
        value: ""   # Buraya test cookies eklenebilir
    autoDeploy: true
